{{!-- it looks like 'blog-post.css' makes all the colors white by default so I'm overriding them here --}}

{{#each students}}
<div class="card">
  <h1>{{this.name}}</h1>
  <p class="title">{{this.skills}}</p>
  <a href="mailto: {{this.email}}">Email</a>
</div>
<!-- <li>
<a href="/student/{{this.id}}">{{this.name}} ({{this.email}})</a>
</li> -->
{{/each}}
